!!! 5
%html
  %head
    %title Beagle
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "public/style.css"}
  %body
    #wrapper
      .header
        .logo
          %img{:src => "public/logo-inline.png"}
        .navigation
          .link Sign up
          .link Log in

      .blurb
        %h2 Beagle is a new way to get things done on campus.

      .features
        .feature
          %h3 Get Help
          .image
            %img{:src => "public/screenshot.png"}
          %p Use your smartphone to post tasks<br /> you don&rsquo;t have time for.

        .feature.odd
          %h3 Make Money
          .image
            %img{:src => "public/screenshot.png"}
          %p Make quick cash by running<br />tasks for other people.


        .feature
          %h3 Earn Rewards
          .image
            %img{:src => "public/screenshot.png"}
          %p Earn real-life rewards, like coupons<br />you can use at College Park businesses.

      .activity
        %h3 What people are up to on Beagle...

        .tasks
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.
          .task-wrapper
            .task
              .title Chipotle
              .info
                .price $10
                .poster Julian C.

      .footer
        .logo
          %img{:src => 'public/footer-logo.png'}